In [233]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#from collections import Counter
import collections
import itertools as it

In [234]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1215,tt1691917,50000000,219788712,Planes,Dane Cook|Carlos Alazraqui|Val Kilmer|Julia Lo...,Klay Hall,From above the world of Cars,Dusty is a cropdusting plane who dreams of com...,91,Animation|Family|Adventure|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,8/9/2013,5.7,2013
434,tt1458175,30000000,51148651,The Next Three Days,Russell Crowe|Elizabeth Banks|Brian Dennehy|RZ...,Paul Haggis,What if you had 72 hours to save everything yo...,A married couple's life is turned upside down ...,133,Romance|Drama|Thriller|Crime,Lionsgate|FidÃ©litÃ© Films|Hwy61,11/18/2010,6.8,2010
741,tt1216475,200000000,559852396,Cars 2,Larry the Cable Guy|Owen Wilson|Michael Caine|...,John Lasseter|Brad Lewis,Ka-ciao!,Star race car Lightning McQueen and his pal Ma...,106,Animation|Family|Adventure|Comedy,Walt Disney Pictures|Pixar Animation Studios,6/11/2011,5.8,2011
1782,tt0469623,16000000,2849142,Things We Lost in the Fire,Halle Berry|Benicio del Toro|David Duchovny|Al...,Susanne Bier,Hope comes with letting go.,A recent widow invites her husband's troubled ...,113,Drama,DreamWorks SKG|Neal Street Productions|DreamWo...,9/26/2007,6.5,2007
748,tt1650062,50000000,260095987,Super 8,Joel Courtney|Elle Fanning|Riley Griffiths|Kyl...,J.J. Abrams,It Arrives.,"In 1979 Ohio, several youngsters are making a ...",112,Thriller|Science Fiction|Mystery,Paramount Pictures|Amblin Entertainment|Bad Ro...,6/8/2011,6.6,2011

In [235]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [236]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

#добавляем поле full_name как в вариантах ответа викторины
data['full_name'] = data['original_title'] + ' (' + data['imdb_id'] + ')'

#добавляем поле profit
data['profit'] = data['revenue'] - data['budget']

#датy релиза переводим в формат даты, добавляем поле месяц релиза
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data.release_date.dt.month

#Просмотр с учетом добавленных полей
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,full_name,profit,release_month
1674,tt0480249,150000000,585349010,I Am Legend,Will Smith|Alice Braga|Charlie Tahan|Salli Ric...,Francis Lawrence,The last man on Earth is not alone,Robert Neville is a scientist who was unable t...,101,Drama|Horror|Action|Thriller|Science Fiction,Village Roadshow Pictures|Original Film|Weed R...,2007-12-14,6.8,2007,I Am Legend (tt0480249),435349010,12
440,tt1103153,75000000,98159963,Killers,Katherine Heigl|Ashton Kutcher|Tom Selleck|Cat...,Robert Luketic,Perfect wife. Perfect target.,When an elite assassin marries a beautiful com...,100,Action|Comedy|Thriller|Romance,Katalyst Films|Lionsgate|Aversano Films,2010-06-04,5.7,2010,Killers (tt1103153),23159963,6
1481,tt0381971,50000000,69834815,Curious George,Frank Welker|Will Ferrell|Shane Baumel|Eugene ...,Matthew O'Callaghan,Get Carried Away With The Cutest Little Monkey...,Will Ferrell stars as The Man in the Yellow Ha...,86,Adventure|Animation|Comedy|Family,Imagine Entertainment|Universal Pictures|Unive...,2006-02-10,5.8,2006,Curious George (tt0381971),19834815,2
375,tt1323594,69000000,543513985,Despicable Me,Steve Carell|Jason Segel|Russell Brand|Julie A...,Pierre Coffin|Chris Renaud,Superbad. Superdad.,In a happy suburban neighbourhood surrounded b...,95,Action|Animation|Family,Universal Pictures|Illumination Entertainment,2010-07-08,7.1,2010,Despicable Me (tt1323594),474513985,7
1196,tt1606378,92000000,304654182,A Good Day to Die Hard,Bruce Willis|Jai Courtney|Sebastian Koch|Mary ...,John Moore,Yippee Ki-Yay Mother Russia,"Iconoclastic, take-no-prisoners cop John McCla...",98,Action|Thriller,Ingenious Media|Twentieth Century Fox Film Cor...,2013-02-06,5.2,2013,A Good Day to Die Hard (tt1606378),212654182,2

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [237]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
# +

In [238]:
# тут пишем ваш код для решения данного вопроса:
answer_1 = data[data.budget == data.budget.max()].full_name.iloc[0]
answer_1

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [239]:
# можно добавлять разные варианты решения
answer_1_2 = data.sort_values('budget', ascending=False).full_name.iloc[0]
answer_1_2

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [240]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [241]:
answer_2 = data[data.runtime == data.runtime.max()].full_name.iloc[0]
answer_2

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [242]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

In [243]:
answer_3 = data[data.runtime == data.runtime.min()].full_name.iloc[0]
answer_3

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [244]:
answers['4'] = 110
# +

In [245]:
answer_4 = int(round(data.runtime.mean(),0))
answer_4

110

# 5. Каково медианное значение длительности фильмов?

In [246]:
answers['5'] = 107
# +

In [247]:
answer_5 = int(round(data.runtime.median(),0))
answer_5

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [248]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'
# +

In [249]:
answer_6 = data[data.profit == data.profit.max()].full_name.iloc[0]
answer_6

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [250]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

In [251]:
answer_7 = data[data.profit == data.profit.min()].full_name.iloc[0]
answer_7

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [252]:
answers['8'] = 1478
# +

In [253]:
answer_8 = len(data[data.profit > 0])
answer_8

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [254]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

In [255]:
data_2008 = data[data.release_year == 2008]
answer_9 = data_2008[data_2008.revenue == data_2008.revenue.max()].full_name.iloc[0]
answer_9

'The Dark Knight (tt0468569)'

ВАРИАНТ 2 (без создания дополнительного df)

In [256]:
answer_9_2 = data[data.release_year == 2008].sort_values('revenue', ascending=False).full_name.iloc[0]
answer_9_2

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [257]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

In [258]:
data_2012_14 = data[(data.release_year>=2012) & (data.release_year<=2014)]
answer_10 = data_2012_14[data_2012_14.profit == data_2012_14.profit.min()].full_name.iloc[0]
answer_10

'The Lone Ranger (tt1210819)'

ВАРИАНТ 2 (без создания дополнительного df)

In [259]:
answer_10_1 = data[(data.release_year>=2012) & (data.release_year<=2014)].sort_values('profit').full_name.iloc[0]
answer_10_1

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [260]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
# +

In [261]:
answer_11 = pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().index[0]
answer_11

'Drama'

ВАРИАНТ 2

In [262]:
answer_11_2 = data['genres'].apply(lambda x: x.split('|')).explode().value_counts().index[0]
answer_11_2

'Drama'

ВАРИАНТ 3

In [263]:
c = collections.Counter()
genres_list = data['genres'].str.cat(sep='|').split('|')
for i in genres_list: c[i] +=1
answer_11_3 = c.most_common(1)[0][0]
answer_11_3

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [264]:
answers['12'] = 'Drama'
# +

In [265]:
data_genre_profit = data[['genres','profit']][data.profit>0].copy()
data_genre_profit['genres'] = data_genre_profit['genres'].apply(lambda x: x.split('|'))
data_genre_profit = data_genre_profit.explode('genres')
answer_12 = pd.Series(data_genre_profit['genres']).value_counts().index[0] 
answer_12

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [266]:
answers['13'] = 'Peter Jackson'
# +

In [267]:
data_director_revenue = data[['director','revenue']].copy()
data_director_revenue['director'] = data_director_revenue['director'].apply(lambda x: x.split('|'))
answer_13 = data_director_revenue.explode('director').groupby(['director']).sum() \
                        .sort_values(['revenue'], ascending=False).index[0]
answer_13

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [268]:
answers['14'] = 'Robert Rodriguez'
# +

In [269]:
answer_14 = data['director'][data.genres.str.contains('Action')].apply(lambda x: x.split('|')).explode() \
            .value_counts().index[0]
answer_14

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [270]:
answers['15'] = 'Chris Hemsworth'
# +

In [271]:
data_actor_revenue = data[['cast','revenue']][data.release_year == 2012].copy()
data_actor_revenue['cast'] = data_actor_revenue['cast'].apply(lambda x: x.split('|'))
answer_15 = data_actor_revenue.explode('cast').groupby(['cast']).sum() \
                    .sort_values('revenue', ascending=False).index[0]
answer_15

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [272]:
answers['16'] = 'Matt Damon'
# +

In [273]:
answer_16 = data['cast'][data.budget > data.budget.mean()].apply(lambda x: x.split('|')).explode() \
           .value_counts().index[0] 
answer_16

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [274]:
answers['17'] = 'Action'
# +

In [275]:
answer_17 = data['genres'][data.cast.str.contains('Nicolas Cage')].apply(lambda x: x.split('|')) \
            .explode().value_counts().index[0]
answer_17

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [276]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

In [277]:
data_ParPic = data[['full_name','profit']][data.production_companies.str.contains('Paramount Pictures')]
answer_18 = data_ParPic['full_name'][data_ParPic.profit == data_ParPic.profit.min()].iloc[0]
answer_18

'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [278]:
answers['19'] = 2015
# +

In [279]:
data_year_totals = data.groupby(['release_year']).sum()
answer_19 = data_year_totals[data_year_totals.revenue == data_year_totals.revenue.max()].index[0]
answer_19

2015

Вариант 2

In [280]:
answer_19_2 = data.groupby(['release_year']).sum().sort_values('revenue', ascending=False).index[0]
answer_19_2

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [281]:
answers['20'] = 2014
# +

In [282]:
answer_20 = data[['release_year','profit']][data.production_companies.str.contains('Warner Bros')] \
             .groupby(['release_year']).sum().sort_values('profit',ascending=False).index[0]
answer_20

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [283]:
answers['21'] = 'Сентябрь'
# +

In [284]:
answer_21 = data['release_month'].value_counts().index[0]
answer_21

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [285]:
answers['22'] = 450 
# +

In [286]:
answer_22 = len(data[data.release_month.isin([6,7,8])])                              
answer_22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [287]:
answers['23'] = 'Peter Jackson'
# +

In [288]:
answer_23 = data['director'][data.release_month.isin([1,2,12])].apply(lambda x: x.split('|')).explode() \
            .value_counts().index[0]
answer_23

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [289]:
answers['24'] = 'Four By Two Productions'
# +

In [290]:
data_title_len = data[['production_companies','original_title']].copy()
#добавляем длину наименования 
data_title_len['title_len'] = data_title_len['original_title'].str.len()
data_title_len.production_companies = data_title_len.production_companies.apply(lambda x: x.split('|'))
answer_24 = data_title_len.explode('production_companies').groupby(['production_companies']).mean(). \
                sort_values('title_len',ascending=False).index[0]
answer_24

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [291]:
answers['25'] = 'Midnight Picture Show'
# +

In [292]:
data_overv_nwords = data[['production_companies','overview']].copy()
#считаем кол-во слов в наименовании по кол-ву пробелов
data_overv_nwords['overview_nwords'] = data_overv_nwords['overview'].str.count(' ') + 1
data_overv_nwords['production_companies'] = data_overv_nwords['production_companies'].apply(lambda x: x.split('|'))
answer_25 = data_overv_nwords.explode('production_companies').groupby(['production_companies']).mean() \
            .sort_values('overview_nwords', ascending=False).index[0]
                    
answer_25

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [293]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [294]:
answer_26 = data[data['vote_average'] > data['vote_average'].quantile(q=0.99)].original_title
answer_26

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [295]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

In [296]:
answer_27 = data.cast.apply(lambda x: list(it.combinations(sorted(x.split('|')),2))).explode().value_counts()
answer_27

(Daniel Radcliffe, Emma Watson)           8
(Daniel Radcliffe, Rupert Grint)          8
(Emma Watson, Rupert Grint)               8
(Helena Bonham Carter, Johnny Depp)       6
(Ben Stiller, Owen Wilson)                6
                                         ..
(Ed Speleers, Jeremy Irons)               1
(Bill Burr, Gillian Jacobs)               1
(Brendan Gleeson, RenÃ©e Zellweger)       1
(Denzel Washington, Hayden Panettiere)    1
(John Michael Higgins, Lauren Graham)     1
Name: cast, Length: 17943, dtype: int64

# Submission

In [297]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [298]:
# и убедиться что ни чего не пропустил)
len(answers)

27